@model DoTheNhuan_2021600381.Models.NhanVien

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới nhân viên</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhân viên</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Hoten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Matkhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matkhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Matkhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tuoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Luong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Luong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Luong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maphong, "Maphong", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Maphong", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Maphong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <input type="button" id="btnCreate" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<div id="msg" style="color: red;">

</div>

<div>
    @Html.ActionLink("Quay lại trang chủ", "Index")
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            var isEmpty = function (data) {
                return data.length > 0 ? false : true;
            }

            $("#btnCreate").click(function (e) {

                var flag = true;
                var nv = {};
                nv.Hoten = $("#Hoten").val();
                nv.Matkhau = $("#Matkhau").val();
                nv.Tuoi = $("#Tuoi").val();
                nv.Diachi = $("#Diachi").val();
                nv.Luong = $("#Luong").val();
                nv.Maphong = $("#Maphong").val();

                for (var key in nv) {
                    if (isEmpty(nv[key])) {
                        flag = false;
                        break;
                    }
                }

                if (flag) {
                    $.ajax({

                        method: "POST",
                        url: '@Url.Action("/Create")',
                        data: '{nv:' + JSON.stringify(nv) + '}',
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (response) {
                            if (response.status == true) {
                                $("#msg").html("Thêm nhân viên thành công!");
                            } else {
                                $("#msg").html("Thêm nhân viên thất bại!");
                            }
                        },
                        error: function (response) {
                            $("#msg").html("Lỗi Ajax!");
                        }
                    })
                    return false;
                } else {
                    $("#msg").html("Dữ liệu không được để trống!");
                }
            })
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
