@model Bai5.Models.NhanVien

@{
    ViewBag.Title = "Save";
}

<div>@Model.id</div>
<div>@Model.name</div>
<div>@Model.salary</div>
<div>@Model.birthday</div>
<div>@Model.avatar</div>
<div>@ViewBag.UploadMessage</div>
<div>@ViewBag.filepath</div>